div.lotto{
    color: white;
    background-color: rgb(165, 0, 0);
    border: 3px solid rgb(88, 0, 0);
    width: 100px;
    height: 100px;
    border-radius: 100px;
    text-align: center;
    line-height: 90px;
    font-size: 35px;
    font-weight: 600;
    box-shadow: 5px 5px 10px gray;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
div.lotto:hover
{
    cursor: pointer;
    background-color: white;
    color: rgb(165, 0, 0);
}